<!doctype html>
<html lang='en'>
  <head>
    <metacharset='utf-8'>
    <title>To Do List</title>
    <link rel="stylesheet" href='CSS/normalize.css'>
    <link rel="stylesheet" href='/style.css'>
  </head>

  <body>
    <page>
      <header>
        <h1>TaskIT</h1>
      </header>

        <div class='container'>


          <div class='cf'>
           <div class='sidebar'>
            <nav>
              <ul class="navigation">
                <li><a href="/list">View Tasks</a></li>
                <li><a href="/new">Create A New Task</a></li>
                <li><a href ="/">Home</a></li>
              </ul>
           </nav>
           </div>


          <div class='display'>
            <%=yield %>
          </div>
        </div>

      </div>



      <footer>
        <p>&copy Luke Robertson</p>
      </footer>
    </page>
  </body>

</html>