<!doctype html>
<html lang='en'>
  <head>
    <metacharset='utf-8'>
    <title>To Do List</title>
    <link rel="stylesheet" href='/style.css'>
  </head>

  <body>
    <header>
      <h1>Header here</h1>
    </header>

          <nav>
            <ul class="navigation">
              <li><a href="/list">List Tasks By Title</a></li>
              <li><a href="/new">Create A New List Entry</a></li>
              <li><a href ="/">Home</a></li>
            </ul>
          </nav>



    <%=yield %>


    <footer>
      <p>Something else here in the footer</p>
    </footer>
  </body>

</html>